<!DOCTYPE html>
<html lang="en" ng-app = 'myApp'>
    <head>
        <meta charset="UTF-8">
        <title>validations</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

            <!-- load our custom app -->
        <script src="js/module.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="validationController as vm">
        <form name="userForm"  ng-submit="vm.submitForm()" novalidate>
            <div class="form-group col-sm-10">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="vm.name" required>
               <!--<div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                    <p ng-message="required">Your name is required.</p>
                </div>-->
                <span ng-show="(userForm.name.$dirty || vm.submitted) && userForm.name.$error.required ||(userForm.name.$touched && userForm.name.$invalid)">
                  Your name is required
                </span>
            </div>

            <div class="form-group col-sm-10">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="vm.email" required>
                <span ng-show="((userForm.email.$dirty || vm.submitted) && userForm.email.$error.required) ||(userForm.email.$touched && userForm.email.$error.required)">
                  Email is required
                </span>
                <span ng-show="userForm.email.$error.email">Invalid email address</span>
            </div>
            <div class="form-group col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </body>
</html>
